# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Entorns virtuals
.venv/
venv/
env/

# Jupyter Notebook
.ipynb_checkpoints/
*.ipynb

# Resultats generats (comentar si vols pujar-los a Git)
# *.png
# *.csv

# IDE
.vscode/
.idea/
*.swp
*.swo

# Sistema
.DS_Store
Thumbs.db
